{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">E</span><span class="base09">v</span><span class="base0a">a</span><span class="base0b">n</span><span class="base0c">L</span><span class="base0d">a</span><span class="base08">u</span><span class="base05"><span class="base09">r</span><span class="base0a">s</span><span class="base0b">e</span><span class="base0c">n</span>]</span>
  <span class="base05">: )</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  I'm a 4 year old. Yeah!
</div>
